<div class="h-fit grid grid-cols-1 sm:flex sm:flex-wrap">
  <div
    *ngIf="!isAdding"
    class="flex flex-col justify-center border-2 border-dashed rounded-lg p-4 m-2 relative cursor-pointer text-center hover:opacity-50 border-secondary-300 bg-basic-900 dark:bg-secondary-400"
    (click)="onCreate()"
  >
    <fa-icon
      [icon]="faPlus"
      class="fa-2x text-secondary-300 dark:text-basic-700"
    ></fa-icon>
    <h4 class="text-secondary-300 dark:text-basic-700">Nueva composición</h4>
  </div>
  <div *ngIf="isAdding" class="sm:max-w-[300px]">
    <app-composition-form
      (onEndEdition)="onEndEdition()"
    ></app-composition-form>
  </div>
  <div *ngFor="let composition of compositions" class="sm:max-w-[300px]">
    <app-composition-item
      [editing]="true"
      [composition]="composition"
      [selected]="isSelected(composition.id)"
      (onSelect)="onSelect.emit($event)"
    ></app-composition-item>
  </div>
</div>
