<div class="header-container p-4">
  <!-- NO AUTH -->
  <div *ngIf="!isLogged" class="flex gap-2 justify-between items-center w-full">
    <button [routerLink]="['/']" class="flex items-center gap-1">
      <img
        src="../../../../assets/images/logo.png"
        alt="Mesta"
        width="auto"
        height="100%"
        class="logo-img"
      />
      <h1
        class="text-secondary-500 dark:text-basic-500 text-3xl sm:text-4xl mb-0 block"
      >
        Mesta
      </h1>
    </button>
    <div class="flex items-center menu-buttons md:flex-row-reverse">
      <div>
        <button
          (click)="navigateTo('register')"
          class="mr-2 btn btn-primary shadow-thick-secondary"
        >
          Registrarse
        </button>
      </div>
      <div class="hidden md:block">
        <button
          (click)="goToContact()"
          class="text-secondary-500 dark:text-basic-500 hover:text-primary-500"
        >
          Contacto
        </button>
        <button
          [routerLink]="['/login']"
          routerLinkActive="router-link-active"
          class="m-3 text-secondary-500 dark:text-basic-500 hover:text-primary-500"
        >
          Login
        </button>
      </div>
      <div class="md:hidden">
        <button
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
          (click)="isMenuOpen = !isMenuOpen"
          id="button-menu"
          class="ml-2 flex"
        >
          <span
            class="material-icons md-36 m-auto text-secondary-300 dark:text-basic-300 hover:text-secondary-500"
          >
            menu
          </span>
        </button>
        <ul
          class="z-10 min-w-[100px] origin-top-right absolute right-0 mr-6 rounded-md shadow-lg bg-basic-500 ring-1 ring-secondary-500 ring-opacity-5 focus:outline-none m-2 py-1 transform scale-100 transition duration-150 ease-in-out"
          aria-labelledby="dropdownMenu"
          [ngClass]="{ 'scale-100': isMenuOpen, 'scale-0': !isMenuOpen }"
        >
          <li
            class="py-2 px-3 sm:py-1 sm:px-2 text-secondary-500 hover:bg-primary-400 hover:text-basic-500 cursor-pointer"
          >
            Contacto
          </li>
          <li
            class="py-2 px-3 sm:py-1 sm:px-2 text-secondary-500 hover:bg-primary-400 hover:text-basic-500 cursor-pointer"
            (click)="navigateTo('login')"
          >
            Log in
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- AUTH REQUIRED -->
  <div *ngIf="isLogged" class="flex gap-2 justify-between items-center w-full">
    <button [routerLink]="['/recipes']" class="flex items-center gap-1">
      <img
        [src]="currentLogoPath"
        alt="Mesta"
        width="auto"
        height="100%"
        class="logo-img"
      />
      <h1
        class="text-secondary-500 dark:text-basic-500 text-4xl mb-0 hidden md:block"
      >
        Mesta
      </h1>
    </button>
    <div class="flex items-center app-menu">
      <button
        [routerLink]="['/recipes']"
        routerLinkActive="router-link-active"
        class="uppercase"
      >
        Recetas
      </button>
      <button
        [routerLink]="['/components']"
        routerLinkActive="router-link-active"
        class="uppercase"
      >
        Componentes
      </button>
    </div>
    <div>
      <button
        type="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
        (click)="isMenuOpen = !isMenuOpen"
        id="button-menu"
      >
        <span
          class="material-icons md-36 text-secondary-300 dark:text-basic-500 hover:text-secondary-500"
        >
          person
        </span>
      </button>
      <ul
        class="z-10 min-w-[100px] origin-top-right absolute right-0 rounded-md shadow-lg bg-basic-500 ring-1 ring-secondary-500 ring-opacity-5 focus:outline-none m-2 py-1 transform scale-100 transition duration-150 ease-in-out"
        aria-labelledby="dropdownMenu"
        [ngClass]="{ 'scale-100': isMenuOpen, 'scale-0': !isMenuOpen }"
      >
        <li
          class="flex p-1 text-secondary-500 hover:bg-primary-400 hover:text-basic-500 cursor-pointer"
          (click)="navigateTo('configuration')"
        >
          <span class="material-icons m-1 md-18">settings</span>Configuración
        </li>
        <li class="p-1 text-secondary-500">
          <hr class="text-secondary-50" />
          Perfiles
          <ul>
            <li
              class="m-1 border-2 border-primary-500 hover:bg-primary-500 hover:text-basic-500 rounded-full px-3 cursor-pointer"
              *ngFor="let profile of profiles"
              (click)="selectProfile(profile)"
              [ngClass]="{
                'bg-primary-500 text-basic-500 cursor-default':
                  profileSelected === profile.id,
                'bg-basic-500 text-primary-500': profileSelected !== profile.id
              }"
            >
              {{ profile.name }}
            </li>
          </ul>
          <hr class="text-secondary-50" />
        </li>
        <li
          class="flex p-1 text-secondary-500 hover:bg-primary-400 hover:text-basic-500 cursor-pointer"
          (click)="logout()"
        >
          <span class="material-icons m-1 md-18">logout</span>Log out
        </li>
      </ul>
    </div>
  </div>
</div>
