<div class="header-container p-2">
  <!-- NO AUTH REQUIRED -->
  <div *ngIf="!isLogged" class="flex gap-2 justify-between items-center w-full">
    <a [routerLink]="['/']" class="flex items-center gap-1"
      ><img
        src="../../../../assets/images/logo.png"
        alt="Mesta"
        width="auto"
        height="100%"
        class="logo-img"
      />
      <h1 class="text-secondary-500 text-4xl mb-0 hidden md:block">Mesta</h1></a
    >
    <div class="flex items-center menu-buttons md:flex-row-reverse">
      <div>
        <button (click)="register()" class="mr-2 btn btn-primary">
          Sign in
        </button>
      </div>
      <div class="header-buttons">
        <a href="#" class=""> Contacto </a>
        <a
          [routerLink]="['/login']"
          routerLinkActive="router-link-active"
          class="m-3 text-secondary-500 "
        >
          Login
        </a>
      </div>
      <div class="dropdown header-dropdown">
        <button
          class="dropdown-toggle"
          type="button"
          id="dropdownMenu"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <fa-icon [icon]="faBars" size="2x" class="text-secondary-300 hover:text-secondary-500"></fa-icon>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
          <li>
            <button class="dropdown-item" type="button">Contacto</button>
            <button class="dropdown-item " type="button" (click)="login()">
              Login
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- AUTH REQUIRED -->
  <div
    *ngIf="isLogged"
    class="flex gap-2 justify-between items-center auth-header w-full"
  >
    <a [routerLink]="['/recipes']" class="flex items-center gap-1"
      ><img
        src="../../../../assets/images/logo.png"
        alt="Mesta"
        width="auto"
        height="100%"
        class="logo-img"
      />
      <h1 class="text-secondary-500 text-4xl mb-0 hidden md:block">Mesta</h1></a
    >
    <div class="flex items-center app-menu md:flex-row-reverse">
      <a
        [routerLink]="['/recipes']"
        routerLinkActive="router-link-active"
        class="uppercase"
        >Recipes</a
      >
      <a
        [routerLink]="['/components']"
        routerLinkActive="router-link-active"
        class="uppercase"
        >Componentes</a
      >
    </div>
    <div class="dropdown">
      <button
        class="dropdown-toggle"
        type="button"
        id="dropdownMenu"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        <fa-icon [icon]="faUser" size="lg" class="text-secondary"></fa-icon>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
        <li>
          <button
            class="dropdown-item"
            type="button"
            [routerLink]="['/configuration']"
            routerLinkActive="router-link-active"
          >
            <fa-icon [icon]="faCogs" class="m-1"></fa-icon>Configuración
          </button>
        </li>
        <li>
          <button class="dropdown-item" type="button" (click)="logout()">
            <fa-icon [icon]="faArrowRightFromBracket" class="m-1"></fa-icon>
            Log out
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>
