<div class="m-auto text-center maxw-500 pb-6">
  <div class="m-4 px-6 py-10 rounded-lg full-shadow bg-basic-600">
    <h2 class="text-2xl uppercase my-2 dark:text-secondary-500">
      Cambiar contraseña
    </h2>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" class="mt-10">
      <div class="custom-input-labeled-container">
        <div class="custom-input-labeled">
          <input
            type="password"
            [formControl]="password"
            aria-label="Password"
          />
          <label for="password">Contraseña</label>
          <div
            *ngIf="password.errors && (password.touched || password.dirty)"
            class="form-errors"
          >
            <span *ngIf="password.errors.required">Password is required</span>
            <span *ngIf="password.errors.minlength"
              >Password must be greater tha 8 characters</span
            >
            <span *ngIf="password.errors.maxlength"
              >Password can be max 16 characters long</span
            >
          </div>
        </div>
      </div>
      <div class="custom-input-labeled-container">
        <div class="custom-input-labeled">
          <input
            type="password"
            [formControl]="password_confirmation"
            aria-label="Password"
          />
          <label for="password_confirmation">Repetir contraseña</label>

          <div
            *ngIf="
              password_confirmation.errors &&
              (password_confirmation.touched || password_confirmation.dirty)
            "
            class="form-errors"
          >
            <span *ngIf="password_confirmation.errors.required"
              >Password is required</span
            >
            <span *ngIf="password_confirmation.errors.minlength"
              >Password must be greater tha 8 characters</span
            >
            <span *ngIf="password_confirmation.errors.maxlength"
              >Password can be max 16 characters long</span
            >
          </div>
        </div>
      </div>

      <button
        type="submit"
        [disabled]="!resetPasswordForm.valid"
        class="btn btn-primary shadow-thick-secondary mt-2"
      >
        Cambiar contraseña
      </button>
    </form>
  </div>
</div>
