<div class="m-auto text-center maxw-500">
  <div class="m-4 px-6 py-10 rounded-lg full-shadow bg-white-600">
    <h2 class="text-2xl uppercase my-5">Cambiar contraseña</h2>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" class="mt-10">
      <div class="my-5 custom-input-labeled">
        <input
          type="password"
          [formControl]="password"
          aria-label="Password"
          placeholder="Password"
        />
        <label for="password" class="text-primary-500">Contraseña</label>
        <div *ngIf="password.errors" class="mt-2 mb-2 form-errors">
          <span *ngIf="password.errors && (password.touched || password.dirty)">
            <span *ngIf="password.errors.required">Password is required</span>
            <span *ngIf="password.errors.minlength"
              >Password must be greater tha 8 characters</span
            >
            <span *ngIf="password.errors.maxlength"
              >Password can be max 16 characters long</span
            >
          </span>
        </div>
      </div>

      <div class="my-5 custom-input-labeled">
        <input
          type="password"
          [formControl]="password_confirmation"
          aria-label="Password"
          placeholder="Password confirmation"
        />
        <label for="password_confirmation">Repetir contraseña</label>

        <div *ngIf="password_confirmation.errors" class="mt-2 mb-2 form-errors">
          <span
            *ngIf="
              password_confirmation.errors &&
              (password_confirmation.touched || password_confirmation.dirty)
            "
          >
            <span *ngIf="password_confirmation.errors.required"
              >Password is required</span
            >
            <span *ngIf="password_confirmation.errors.minlength"
              >Password must be greater tha 8 characters</span
            >
            <span *ngIf="password_confirmation.errors.maxlength"
              >Password can be max 16 characters long</span
            >
          </span>
        </div>
      </div>

      <button
        type="submit"
        [disabled]="!resetPasswordForm.valid"
        class="btn btn-primary shadow-thick-secondary"
      >
        Cambiar contraseña
      </button>
    </form>
  </div>
</div>
