<div
  class="mt-2 border-dashed border-secondary-400 dark:border-basic-400 border-2 cursor-pointer p-3 rounded-lg mb-3 hover:border-secondary-200 group"
  (click)="editProfile(profile?.id)"
>
  <div class="flex flex-row justify-between">
    <div class="flex flex-row gap-2">
      <h4
        class="text-secondary-500 dark:text-basic-500 group-hover:text-secondary-200"
      >
        {{ profile?.name }}
      </h4>
    </div>
    <div class="flex justify-between gap-2">
      <fa-icon
        [icon]="faTrash"
        class="text-secondary-500 dark:text-basic-500 hover:text-danger z-10 text-3xl sm:text-base"
        (click)="deleteProfile($event)"
      ></fa-icon>
      <fa-icon
        [icon]="faPencil"
        class="text-secondary-500 dark:text-basic-500 hover:text-primary-500 z-10 text-3xl sm:text-base"
        (click)="editProfile(profile?.id)"
      ></fa-icon>
    </div>
  </div>
  <div
    class="body-profile my-2 text-sm text-secondary-500 dark:text-basic-500 group-hover:text-secondary-200"
  >
    {{ profile?.description }}
  </div>
  <div class="profile-phases flex flex-row flex-wrap gap-1 mb-2">
    <h4
      *ngFor="let phase of profile?.phases"
      class="text-basic-500 rounded-full px-2 py-1 text-sm text-nowrap self-center"
      [ngStyle]="{ 'background-color': phase.color }"
    >
      {{ phase?.name }}
    </h4>
  </div>
</div>

<app-modal [id]="getIdModal()" (onProceed)="deleteProfileConfirm()"></app-modal>
