<div
  #container
  class="max-w-[150px] p-4 m-2 relative group cursor-pointer"
  (click)="onClick()"
>
  <div
    #borderTop
    class="absolute top-0 right-0 w-full h-[10px] bg-[length:3px_10px] bg-repeat-x"
  ></div>
  <div
    #borderLeft
    class="absolute top-0 left-0 w-[10px] h-full bg-top-left bg-[length:10px_3px] bg-repeat-y"
  ></div>
  <div
    #borderRight
    class="absolute top-0 right-0 w-[10px] h-full bg-top-left bg-[length:10px_3px] bg-repeat-y"
  ></div>
  <div
    #borderBottom
    class="absolute bottom-0 right-0 w-full h-[10px] bg-[length:3px_10px] bg-repeat-x"
  ></div>
  <h4
    [ngStyle]="{
      color: percentage > 0 ? '#fff' : phase?.color
    }"
    class="font-medium group-hover:!text-white-500"
  >
    {{ component.name }}
  </h4>
  <div class="flex flex-wrap justify-end text-right">
    <span
      class="text-sm group-hover:!text-white-500"
      *ngFor="let property of component.properties"
      [ngStyle]="{
        color: percentage > 0 ? '#fff' : phase?.color
      }"
      >{{ property.name }}.&nbsp;</span
    >
  </div>
  <div *ngIf="fromFormulation" class="flex flex-row gap-2 justify-center m-2 font-bold">
    <button
      type="button"
      class="group-hover:!text-white-500 outline-none"
      [ngStyle]="{
        color: percentage > 0 ? '#fff' : phase?.color
      }"
      (click)="decrement($event)"
    >
      <fa-icon [icon]="faMinus"></fa-icon>
    </button>
    <div class="w-full">
      <input
        type="number"
        min="0"
        max="100"
        [(ngModel)]="percentage"
        (change)="onChangePercentage($event)"
        [ngStyle]="{
          color: percentage > 0 ? '#fff' : phase?.color
        }"
        class="outline-none group-hover:!text-white-500 border-none bg-transparent w-[50%] text-right"
      />
      <span
        [ngStyle]="{
          color: percentage > 0 ? '#fff' : phase?.color
        }"
        class="h-[100%] group-hover:!text-white-500 w-[50%]"
      >
        %
      </span>
    </div>
    <!-- <span
      
      contenteditable="true"
      (input)="onChangePercentage($event)"
      >{{ percentage }}%</span
    > -->
    <button
      type="button"
      class="group-hover:!text-white-500 outline-none"
      [ngStyle]="{
        color: percentage > 0 ? '#fff' : phase?.color
      }"
      (click)="increment($event)"
    >
      <fa-icon [icon]="faPlus"></fa-icon>
    </button>
  </div>
</div>
