<div
  #container
  class="max-w-[150px] p-4 m-2 relative group cursor-pointer"
  (click)="onClick()"
>
  <div
    #borderTop
    class="absolute top-0 right-0 w-full h-[10px] bg-[length:3px_10px] bg-repeat-x"
  ></div>
  <div
    #borderLeft
    class="absolute top-0 left-0 w-[10px] h-full bg-top-left bg-[length:10px_3px] bg-repeat-y"
  ></div>
  <div
    #borderRight
    class="absolute top-0 right-0 w-[10px] h-full bg-top-left bg-[length:10px_3px] bg-repeat-y"
  ></div>
  <div
    #borderBottom
    class="absolute bottom-0 right-0 w-full h-[10px] bg-[length:3px_10px] bg-repeat-x"
  ></div>
  <h4
    [ngStyle]="{ color: selected ? '#ffffff' : phase?.color }"
    class="font-medium group-hover:!text-white-500"
  >
    {{ component.name }}
  </h4>
  <div class="flex flex-wrap justify-end text-right">
    <span
      class="text-sm group-hover:!text-white-500"
      *ngFor="let property of component.properties"
      [ngStyle]="{ color: selected ? '#ffffff' : phase?.color }"
      >{{ property.name }}.&nbsp;</span
    >
  </div>
  <div
    *ngIf="fromFormulation && selected"
    class="flex flex-row gap-2 justify-center"
  >
    <fa-icon
      [icon]="faMinus"
      [ngStyle]="{ color: selected ? '#ffffff' : phase?.color }"
      (click)="onChangePercentage($event, component?.percentage || 0 - 1)"
    ></fa-icon>
    <span
      [ngStyle]="{ color: selected ? '#ffffff' : phase?.color }"
      contenteditable="true"
      (input)="onChangePercentage($event)"
      class="outline-none underline underline-offset-2 h-[100%]"
      >{{ component.percentage || 0 }}</span
    >
    <fa-icon
      [icon]="faPlus"
      [ngStyle]="{ color: selected ? '#ffffff' : phase?.color }"
      (click)="onChangePercentage($event, component?.percentage || 0 + 1)"
    ></fa-icon>
  </div>
</div>
