<div class="p-2">
  <div
    *ngIf="!fromFormulation && !fromRecipeDetails"
    class="flex flex-row align-items-center w-full flex-wrap p-3"
    [ngClass]="{ ' md:flex-nowrap': !fromFormulation && !fromRecipeDetails }"
  >
    <h2>Componentes</h2>
    <div class="flex flex-row justify-between w-full">
      <span class="md:before:content-['|'] md:before:mx-4"
        >{{ components?.length || 0 }} componentes</span
      >

      <button
        type="button"
        (click)="createComponent()"
        class="btn btn-primary shadow-thick-secondary"
      >
        <span class="material-icons"> add </span>
      </button>
    </div>
  </div>
  <div
    class="flex justify-between mx-auto my-0 relative grow shrink-0 basis-auto text-left flex-col"
    [ngClass]="{ ' md:flex-row': !fromFormulation && !fromRecipeDetails }"
  >
    <div
      class="flex flex-col w-full shrink-0"
      [ngClass]="{
        'md:w-[30%] lg:w-[20%]': !fromFormulation && !fromRecipeDetails
      }"
    >
      <div
        class="md:sticky w-auto p-2 md:overflow-y-auto md:top-[10px]"
        [ngClass]="{
          'md:overflow-y-auto md:top-[10px]':
            !fromFormulation && !fromRecipeDetails
        }"
      >
        <div
          class="relative w-full"
          [ngClass]="{ 'md:w-[90%]': !fromFormulation && !fromRecipeDetails }"
        >
          <input
            type="text"
            class="input-search"
            placeholder="Buscar componente"
            [(ngModel)]="searchTerm"
            (keyup)="search()"
          />
        </div>
        <div
          class="w-full"
          [ngClass]="{ 'md:w-[90%]': !fromFormulation && !fromRecipeDetails }"
        >
          <app-properties-list [filtering]="true"></app-properties-list>
        </div>
      </div>
    </div>
    <div
      class="w-full mx-auto my-0"
      [ngClass]="{
        'animate-pulse': loading,
        'md:w-[70%] lg:w-[80%]': !fromFormulation && !fromRecipeDetails
      }"
    >
      <div *ngFor="let phase of phases">
        <app-components-phase
          [phase]="phase"
          [components]="filterByPhase(phase.id)"
          [fromFormulation]="fromFormulation"
          [fromRecipeDetails]="fromRecipeDetails"
          [percentage]="getPhasePercentage(phase?.id)"
          [recipeComponentsArrayControl]="recipeComponentsArrayControl"
          [recipeComponents]="recipeComponents"
          [properties]="getProperties()"
        ></app-components-phase>
      </div>
    </div>
  </div>
</div>
