<div
  class="m-2 p-2 border-2 border-dashed rounded-xl"
  [ngStyle]="{ 'border-color': phase?.color }"
>
  <div
    class="px-2 flex justify-between hover:opacity-60 cursor-pointer"
    (click)="onCollapsing()"
  >
    <h4
      class="tracking-widest uppercase font-semibold"
      [ngStyle]="{ color: phase?.color }"
    >
      {{ phase?.name }}
    </h4>
    <div class="flex">
      <span
        *ngIf="!fromFormulation && !fromRecipeDetails"
        class="px-1"
        [ngStyle]="{ color: phase?.color }"
        >{{ components.length }} componentes</span
      >
      <span
        *ngIf="fromFormulation || fromRecipeDetails"
        class="px-1"
        [ngStyle]="{ color: phase?.color }"
        >{{ percentage }}%</span
      >
      <fa-icon
        [icon]="faChevronUp"
        [ngStyle]="{ color: phase?.color }"
        class="transition-transform duration-300"
        [ngClass]="{ 'rotate-0': open, 'rotate-180': !open }"
      ></fa-icon>
    </div>
  </div>
  <div
    #bodyAccordion
    class="flex flex-col overflow-hidden transition-height delay-50 duration-300"
  >
    <div
      *ngIf="phaseComponentsForm?.errors?.maxAddition && fromFormulation"
      class="text-xs font-bold"
    >
      El porcentage de los componentes no debe superar al total asignado en la
      composición
    </div>
    <div class="flex-wrap flex">
      <ng-container *ngFor="let component of components">
        <app-component-item
          [component]="component"
          [percentage]="getPercentageByComponentId(component.id)"
          [fromFormulation]="fromFormulation"
          [fromRecipeDetails]="fromRecipeDetails"
          (onPercentageChange)="onPercentageChange($event)"
        ></app-component-item>
      </ng-container>
    </div>
  </div>
</div>
