<div
  class="m-2 p-2 border-2 border-dashed rounded-xl"
  [ngStyle]="{ 'border-color': phase?.color }"
>
  <div
    class="px-2 flex justify-between hover:opacity-60 cursor-pointer"
    (click)="onCollapsing()"
  >
    <h4
      class="tracking-widest uppercase font-semibold"
      [ngStyle]="{ color: phase?.color }"
    >
      {{ phase?.name }}
    </h4>
    <div class="flex">
      <span
        *ngIf="!fromFormulation && !fromRecipeDetails"
        class="px-1"
        [ngStyle]="{ color: phase?.color }"
        >{{ components.length }} componentes</span
      >
      <span
        *ngIf="fromRecipeDetails"
        class="px-1"
        [ngStyle]="{ color: phase?.color }"
        >{{ percentage }}%</span
      >
      <span
        *ngIf="fromFormulation"
        class="px-1"
        [ngStyle]="{ color: phase?.color }"
        >Queda por asignar el
        {{ phaseComponentsForm.value | currentPercentageAssign: percentage }} de
        {{ percentage }}%</span
      >
      <span
        class="material-icons transition-transform duration-300"
        [ngStyle]="{ color: phase?.color }"
        [ngClass]="{ 'rotate-0': open, 'rotate-180': !open }"
      >
        expand_less
      </span>
    </div>
  </div>
  <div
    #bodyAccordion
    class="flex flex-col overflow-hidden transition-height delay-50 duration-300"
  >
    <div
      *ngIf="phaseComponentsForm?.errors?.maxAddition && fromFormulation"
      class="text-xs font-bold form-errors px-2"
    >
      El porcentage de los componentes no debe superar al total asignado en la
      composición
    </div>
    <div class="flex-wrap flex">
      <app-component-item
        *ngFor="let component of components"
        [component]="component"
        [percentage]="getPercentageByComponentId(component.id)"
        [fromFormulation]="fromFormulation"
        [fromRecipeDetails]="fromRecipeDetails"
        (onPercentageChange)="onPercentageChange($event)"
        [phase]="phase"
        [properties]="getPropertiesByComponent(component.properties)"
      ></app-component-item>
    </div>
  </div>
</div>
