<div class="p-2 flex flex-row limit-container">
  <div id="nav-configuration">
    <div class="pt-5 flex flex-col gap-4 text-right sticky">
      <a
        class="cursor-pointer text-primary-500 hover:text-primary-900"
        (click)="scroller.scrollToAnchor('personal-information')"
        >Información personal</a
      >
      <a
        class="cursor-pointer text-primary-500 hover:text-primary-900"
        (click)="scroller.scrollToAnchor('profiles')"
        >Perfiles</a
      >
      <a
        class="cursor-pointer text-primary-500 hover:text-primary-900"
        (click)="scroller.scrollToAnchor('configuration')"
        >Mi cuenta</a
      >
      <a
        class="cursor-pointer text-primary-500 hover:text-primary-900"
        (click)="scroller.scrollToAnchor('contact')"
        >Contacto</a
      >
    </div>
  </div>
  <div class="w-full">
    <div class="pt-5 vertical-border m-auto">
      <section id="personal-information">
        <h2>Información personal</h2>
        <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
          <div class="mt-2 mb-2">
            <label for="name">Nombre</label>
            <div class="flex gap-1">
              <input
                type="text"
                [formControl]="name"
                class="dark-input"
                aria-label="name"
                placeholder="Nombre"
              />
              <button
                type="submit"
                class="btn btn-primary shadow-thick-secondary"
                [disabled]="!name.touched && !name.errors"
                (click)="onSubmit()"
              >
                <fa-icon [icon]="faSave"></fa-icon>
              </button>
            </div>
            <div
              *ngIf="name.errors && (name.touched || name.dirty)"
              class="form-errors"
            >
              <div *ngIf="name.errors.required">Name is required</div>
              <div *ngIf="name.errors.minlength">
                Name must be at least 5 characters long.
              </div>
              <div *ngIf="name.errors.maxlength">
                Name can be max 25 characters long.
              </div>
            </div>
          </div>

          <div class="mt-2 mb-2">
            <label for="email">Email</label>
            <div class="flex gap-1">
              <input
                type="email"
                [formControl]="email"
                class="dark-input"
                aria-label="Email"
                placeholder="Email"
              />
              <button
                type="submit"
                class="btn btn-primary shadow-thick-secondary"
                [disabled]="!name.touched && !name.errors"
                (click)="onSubmit()"
              >
                <fa-icon [icon]="faSave"></fa-icon>
              </button>
            </div>
            <div *ngIf="email.errors" class="form-errors">
              <span
                class="text-danger"
                *ngIf="email.errors && (email.touched || email.dirty)"
              >
                <span *ngIf="email.errors.required" class="fs-xs"
                  >Email is required</span
                >
                <div *ngIf="email.errors.pattern" class="fs-xs">
                  Email not a valid format.
                </div>
              </span>
            </div>
          </div>
        </form>
        <hr class="text-secondary-50 my-8" />
      </section>
      <section id="profiles">
        <h2>Perfiles</h2>
        <div
          *ngFor="let profile of profiles"
          class="mt-2 border-dashed border-secondary-400 border-2 cursor-pointer p-3 rounded-lg mb-3 hover:border-secondary-200 group"
          (click)="editProfile(profile.id)"
        >
          <div class="flex flex-row justify-between">
            <div class="flex flex-row gap-2">
              <div
                class="w-[10px] h-[25px] rounded"
                [ngStyle]="{ 'background-color': profile.color }"
              ></div>
              <h4 class="text-secondary-500 group-hover:text-secondary-200">
                {{ profile.name }}
              </h4>
            </div>
            <fa-icon
              [icon]="faTrash"
              class="hover:text-danger z-10"
              (click)="deleteProfile($event, profile.id)"
            ></fa-icon>
          </div>
          <div
            class="body-profile my-2 text-sm text-secondary-500 group-hover:text-secondary-200"
          >
            {{ profile.description }}
          </div>
          <div class="profile-phases flex flex-row gap-1 mb-2">
            <h4
              *ngFor="let phase of profile.phases"
              class="text-white-500 rounded-full px-2 py-1 text-sm"
              [ngStyle]="{ 'background-color': phase.color }"
            >
              {{ phase.name }}
            </h4>
          </div>
        </div>
        <div
          class="add-profile rounded-lg text-center py-4 w-full cursor-pointer text-secondary-100 bg-secondary-50 border-secondary-100 hover:text-secondary-50 hover:bg-secondary-100 hover:border-secondary-50"
          (click)="createProfile()"
        >
          <fa-icon [icon]="faPlus" size="4x"></fa-icon>
        </div>
        <hr class="text-secondary-50 my-8" />
      </section>
      <section id="configuration">
        <h2>Configuración</h2>
        <div class="flex flex-col mt-2">
          <a
            class="text-secondary-500 hover:text-primary-500"
            [routerLink]="['/reset-password']"
            routerLinkActive="router-link-active"
            >Cambiar contraseña</a
          >
          <a
            class="text-danger cursor-pointer"
            (click)="deleteUserPrompt = !deleteUserPrompt"
            >Eliminar cuenta</a
          >
          <div *ngIf="deleteUserPrompt">
            <div
              class="m-4 p-4 border-[1px] border-secondary-100 rounded-xl bg-secondary-500"
            >
              <p class="text-white-500">
                Area you sure you want to close your account? You will loose all
                the data without option of recovery?
              </p>
              <div class="flex flex-row gap-2 justify-end mt-2">
                <button
                  class="btn btn-danger shadow-thick-secondary"
                  (click)="deleteUser()"
                >
                  Confirmar
                </button>
                <button
                  class="btn btn-white shadow-thick-secondary"
                  (click)="deleteUserPrompt = false"
                >
                  Cancelar
                </button>
              </div>
            </div>
          </div>
        </div>
        <hr class="text-secondary-50 my-8" />
      </section>
      <section id="contact">
        <h2>Contacto</h2>
        <form
          [formGroup]="contactForm"
          (ngSubmit)="onContact()"
          class="text-center"
        >
          <div class="mt-2 mb-2">
            <input
              type="text"
              [formControl]="nameContact"
              class="dark-input"
              aria-label="Name"
              placeholder="Name"
            />
          </div>
          <div
            *ngIf="
              nameContact.errors && (nameContact.touched || nameContact.dirty)
            "
            class="form-errors"
          >
            <div *ngIf="nameContact.errors.required">Name is required</div>
            <div *ngIf="nameContact.errors.minlength">
              Name must be at least 5 characters long.
            </div>
            <div *ngIf="nameContact.errors.maxlength">
              Name can be max 25 characters long.
            </div>
          </div>

          <div class="mt-2 mb-2">
            <input
              type="email"
              [formControl]="emailContact"
              class="dark-input"
              aria-label="Email"
              placeholder="Email"
            />
          </div>
          <div *ngIf="emailContact.errors" class="form-errors">
            <span
              *ngIf="
                emailContact.errors &&
                (emailContact.touched || emailContact.dirty)
              "
            >
              <span *ngIf="emailContact.errors.required"
                >Email is required</span
              >
              <div *ngIf="emailContact.errors.pattern">
                Email not a valid format.
              </div>
            </span>
          </div>

          <div class="mt-2 mb-2">
            <textarea
              name="bodyContact"
              class="dark-input"
              placeholder="Escribe aquí tus dudas"
              rows="8"
            ></textarea>
          </div>
          <div
            *ngIf="
              bodyContact.errors && (bodyContact.touched || bodyContact.dirty)
            "
            class="form-errors"
          >
            <div *ngIf="bodyContact.errors.required">Name is required</div>
            <div *ngIf="bodyContact.errors.minlength">
              Name must be at least 5 characters long.
            </div>
            <div *ngIf="bodyContact.errors.maxlength">
              Name can be max 25 characters long.
            </div>
          </div>

          <button
            type="submit"
            [disabled]="!contactForm.valid"
            class="btn btn-primary text-light mt-2 mb-2 shadow-thick-secondary"
          >
            Enviar
          </button>
        </form>
      </section>
    </div>
  </div>
</div>
