
#nav-configuration {
  display: none;
  width: 180px;
  position: relative;
  div {
    max-height: calc(100vh - 80px);
    overflow-y: auto;
    top: 80px;
  }
}
@screen md {
  #nav-configuration {
    display: block;
  }

  #nav-configuration + div {
    width: calc(100% - 180px);
    padding-left: 2vw;
  }
}
