<div
  class="p-2 flex justify-between mx-auto my-0 relative grow shrink-0 basis-auto text-left flex-col md:flex-row"
>
  <div class="flex flex-col w-full md:w-[30%] lg:w-[20%] shrink-0">
    <div
      class="hidden md:flex flex-col justify-end text-right md:sticky w-auto p-2 md:overflow-y-auto md:top-[10px]"
    >
      <a
        class="cursor-pointer hover:text-primary-900 px-2 py-4"
        (click)="
          scroller.scrollToAnchor('personalInformation');
          activeLink = 'personalInformation'
        "
        [ngClass]="{ 'text-primary-500': activeLink === 'personalInformation' }"
        >Información personal</a
      >
      <a
        class="cursor-pointer over:text-primary-900 px-2 py-4"
        (click)="scroller.scrollToAnchor('profiles')"
        [ngClass]="{ 'text-primary-500': activeLink === 'profiles' }"
        >Perfiles</a
      >
      <a
        class="cursor-pointer hover:text-primary-900 px-2 py-4"
        (click)="scroller.scrollToAnchor('theme')"
        [ngClass]="{ 'text-primary-500': activeLink === 'theme' }"
        >Temática</a
      >
      <a
        class="cursor-pointer hover:text-primary-900 px-2 py-4"
        (click)="scroller.scrollToAnchor('account')"
        [ngClass]="{ 'text-primary-500': activeLink === 'account' }"
        >Cuenta</a
      >
      <a
        class="cursor-pointer hover:text-primary-900 px-2 py-4"
        (click)="scroller.scrollToAnchor('contact')"
        [ngClass]="{ 'text-primary-500': activeLink === 'contact' }"
        >Contacto</a
      >
    </div>
  </div>
  <div class="w-full md:w-[70%] lg:w-[80%] mx-auto my-0">
    <div class="pt-5 vertical-border mx-auto">
      <section id="personalInformation" #personalInfoSection>
        <h2>Información personal</h2>
        <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
          <div class="mt-2 mb-2">
            <label for="name">Nombre</label>
            <div class="flex gap-1">
              <input
                type="text"
                [formControl]="name"
                class="dark-input"
                aria-label="name"
                placeholder="Nombre"
              />
              <button
                type="submit"
                class="btn btn-primary shadow-thick-secondary"
                [disabled]="!name.touched && !name.errors"
                (click)="onSubmit()"
              >
                <fa-icon [icon]="faSave"></fa-icon>
              </button>
            </div>
            <div
              *ngIf="name.errors && (name.touched || name.dirty)"
              class="form-errors"
            >
              <div *ngIf="name.errors.required">Campo obligatorio</div>
              <div *ngIf="name.errors.minlength">
                Name must be at least 5 characters long.
              </div>
              <div *ngIf="name.errors.maxlength">
                Name can be max 25 characters long.
              </div>
            </div>
          </div>

          <div class="mt-2 mb-2">
            <label for="email">Correo electrónico</label>
            <div class="flex gap-1">
              <input
                type="email"
                [formControl]="email"
                class="dark-input"
                aria-label="Email"
                placeholder="Email"
              />
              <button
                type="submit"
                class="btn btn-primary shadow-thick-secondary"
                [disabled]="!name.touched && !name.errors"
                (click)="onSubmit()"
              >
                <fa-icon [icon]="faSave"></fa-icon>
              </button>
            </div>
            <div *ngIf="email.errors" class="form-errors">
              <span
                class="text-danger"
                *ngIf="email.errors && (email.touched || email.dirty)"
              >
                <span *ngIf="email.errors.required" class="fs-xs"
                  >Campo obligatorio</span
                >
                <div *ngIf="email.errors.pattern" class="fs-xs">
                  Email not a valid format.
                </div>
              </span>
            </div>
          </div>
        </form>

        <button
          [routerLink]="['/reset-password']"
          routerLinkActive="router-link-active"
          class="mt-2 btn btn-primary"
        >
          Cambiar contraseña
        </button>
        <hr class="text-secondary-50 my-8" />
      </section>
      <section id="profiles" #profilesSection>
        <h2>Perfiles</h2>
        <app-profile-item
          *ngFor="let profile of profiles"
          [profile]="profile"
        ></app-profile-item>
        <div
          class="group flex flex-col justify-center border-2 border-dashed rounded-lg p-4 m-2 relative cursor-pointer text-center hover:opacity-50 border-secondary-300 bg-basic-900 dark:bg-secondary-400"
          (click)="createProfile()"
        >
          <fa-icon
            [icon]="faPlus"
            class="fa-2x text-secondary-300 dark:text-basic-700"
            size="2x"
          ></fa-icon>
          <h4 class="text-secondary-300 dark:text-basic-700">
            Crear nuevo perfil
          </h4>
        </div>
        <hr class="text-secondary-50 my-8" />
      </section>
      <section id="theme" #themeSection>
        <h2>Temática</h2>
        <button (click)="toggleTheme()" class="mt-2 btn btn-primary">
          Cambiar temática
        </button>
        <hr class="text-secondary-50 my-8" />
      </section>
      <section id="account" #accountSection>
        <h2>Cuenta</h2>
        <div class="flex flex-col mt-2">
          <a
            class="text-danger cursor-pointer py-2 underline"
            (click)="deleteUser()"
            >Eliminar cuenta</a
          >
        </div>
        <hr class="text-secondary-50 my-8" />
      </section>
      <section id="contact" #contactSection>
        <h2>Contacto</h2>
        <form
          [formGroup]="contactForm"
          (ngSubmit)="onContact()"
          class="text-center"
        >
          <div class="mt-2 mb-2">
            <input
              type="text"
              [formControl]="nameContact"
              class="dark-input"
              aria-label="Name"
              placeholder="Name"
            />
          </div>
          <div
            *ngIf="
              nameContact.errors && (nameContact.touched || nameContact.dirty)
            "
            class="form-errors"
          >
            <div *ngIf="nameContact.errors.required">Campo obligatorio</div>
          </div>

          <div class="mt-2 mb-2">
            <input
              type="email"
              [formControl]="emailContact"
              class="dark-input"
              aria-label="Email"
              placeholder="Email"
            />
          </div>
          <div *ngIf="emailContact.errors" class="form-errors">
            <span
              *ngIf="
                emailContact.errors &&
                (emailContact.touched || emailContact.dirty)
              "
            >
              <span *ngIf="emailContact.errors.required"
                >Campo obligatorio</span
              >
              <div *ngIf="emailContact.errors.pattern">
                Email not a valid format.
              </div>
            </span>
          </div>

          <div class="mt-2 mb-2">
            <textarea
              name="bodyContact"
              [formControl]="bodyContact"
              class="dark-input"
              placeholder="Escribe aquí tus dudas"
              rows="8"
            ></textarea>
          </div>
          <div
            *ngIf="
              bodyContact.errors && (bodyContact.touched || bodyContact.dirty)
            "
            class="form-errors"
          >
            <div *ngIf="bodyContact.errors.required">Campo obligatorio</div>
          </div>
          <button
            type="submit"
            [disabled]="!contactForm.valid"
            class="btn btn-primary text-light mt-2 mb-2 shadow-thick-secondary"
          >
            Enviar
          </button>
        </form>
      </section>
    </div>
  </div>
</div>

<app-modal [id]="getIdModal()" (onProceed)="deleteUserConfirm()"></app-modal>
