<div
  class="min-w-[150px] max-w-[280px] m-2 transform transition delay-10 duration-300 ease-in-out scale-0"
  (click)="onClick()"
  [ngClass]="{ 'scale-100': properties }"
>
  <app-dashed-box>
    <h4
      class="font-bold group-hover:!text-white-500 text-secondary-500 uppercase text-center text-lg"
    >
      {{ recipe.name }}
    </h4>
    <div class="flex flex-wrap justify-center text-center">
      <span
        class="text-sm group-hover:!text-white-500 text-secondary-500"
        *ngFor="let property of properties"
        >{{ property?.name }}.&nbsp;</span
      >
    </div>
  </app-dashed-box>
</div>
