<div class="limit-container p-3">
  <div class="my-6 text-center">
    <h2
      class="uppercase tracking-wider text-2xl font-black max-w-[900px] m-auto"
    >
      <span class="text-3xl">C</span>rea tus propias formulaciones de forma
      fácil y sencilla, guárdalas y accede a ellas siempre que lo necesites.
    </h2>
    <div class="max-w-[600px] m-auto mt-2">
      <span>
        Simplifica las formulaciones con esta herramienta, aprovecha las
        asignación de <span class="text-primary-500">propiedades</span> y las
        <span class="text-primary-500">plantillas de formulación</span>
        personalizables.
      </span>
    </div>
  </div>
  <div
    class="w-full grid grid-cols-2 grid-rows-2 sm:grid-cols-4 sm:grid-rows-1 mb-20"
  >
    <div
      class="animate__animated animate__backInLeft flex flex-col justify-center align-center rounded-xl bg-basic-500 shadow-md m-2 p-4"
    >
      <img
        src="../../../../assets/images/organisation.svg"
        alt="organisation"
        width="60"
        height="auto"
        class="self-center"
      />
      <h3
        class="text-center mt-2 dark:text-secondary-500 text-base md:text-xl break-word"
      >
        Administración de datos
      </h3>
    </div>
    <div
      class="animate__animated animate__backInUp flex flex-col justify-center align-center rounded-xl bg-basic-500 shadow-md m-2 p-4"
    >
      <img
        src="../../../../assets/images/morter.svg"
        alt="morter"
        width="80"
        height="auto"
        class="self-center"
      />
      <h3
        class="text-center mt-2 dark:text-secondary-500 text-base md:text-xl break-word"
      >
        Formulación sencilla
      </h3>
    </div>
    <div
      class="animate__animated animate__backInUp flex flex-col justify-center align-center rounded-xl bg-basic-500 shadow-md m-2 p-4"
    >
      <img
        src="../../../../assets/images/magnifying_gass.svg"
        alt="magnifying_gass"
        width="100"
        height="auto"
        class="self-center"
      />
      <h3
        class="text-center mt-2 dark:text-secondary-500 text-base md:text-xl break-word"
      >
        Acceso customizado
      </h3>
    </div>
    <div
      class="animate__animated animate__backInRight flex flex-col justify-center align-center rounded-xl bg-basic-500 shadow-md m-2 p-4"
    >
      <img
        src="../../../../assets/images/filter.svg"
        alt="filter"
        width="70"
        height="auto"
        class="self-center"
      />
      <h3
        class="text-center mt-2 dark:text-secondary-500 text-base md:text-xl break-word"
      >
        Filtrado de datos
      </h3>
    </div>
  </div>
  <div>
    <div class="my-20">
      <div class="">
        <h3 class="text-blue-500 font-black uppercase text-lg tracking-wider">
          <span class="text-2xl">F</span>ormula tus productos de forma rápida,
          sencilla y con la infomación 100% accesible
        </h3>
        <p class="max-w-[600px]">
          Filtra las recetas por las propiedades heredadas de los componentes
          que la forman; o si lo prefieres utiliza el buscador para encontrar
          según el nombre que le hayas puesto.
        </p>
      </div>
      <div class="relative my-10">
        <video
          width="80%"
          height="audio"
          loop
          playsinline
          #video1
          class="m-auto rounded-xl shadow-2xl border-2 border-basic-500 max-w-[800px]"
          muted
        >
          <source
            src="../../../../assets/videos/formulation_presentation.webm"
            type="video/webm"
          />
          <source
            src="../../../../assets/videos/formulation_presentation.mp4"
            type="video/mp4"
          />
        </video>
        <div
          class="w-full h-full rounded-xl bg-basic-500 absolute top-6 z-[-1] shadow-2xl"
        ></div>
      </div>
    </div>
    <div class="my-20">
      <div class="">
        <h3 class="text-orange-500 font-black uppercase text-lg tracking-wider">
          <span class="text-2xl">E</span>ncuentra tus recetas con facilidad
        </h3>
        <p class="max-w-[600px]">
          Filtra las recetas por las propiedades heredadas de los componentes
          que la forman; o si lo prefieres utiliza el buscador para encontrar
          según el nombre que le hayas puesto.
        </p>
      </div>
      <div class="relative my-10">
        <video
          width="80%"
          height="audio"
          loop
          #video2
          playsinline
          class="m-auto rounded-xl shadow-2xl border-2 border-basic-500 max-w-[800px]"
        >
          <source
            src="../../../../assets/videos/search_presentation.webm"
            type="video/webm"
          />
          <source
            src="../../../../assets/videos/search_presentation.mp4"
            type="video/mp4"
          />
        </video>
        <div
          class="w-full h-full rounded-xl bg-basic-500 absolute top-[-1.5rem] z-[-1] shadow-2xl"
        ></div>
      </div>
    </div>
    <div class="my-20">
      <div class="">
        <h3
          class="text-purple-500 font-black uppercase text-lg tracking-wider text-right"
        >
          <span class="text-2xl">C</span>rea componentes asignandole las
          propiedades que necesites
        </h3>
        <p class="max-w-[600px] ml-auto mr-0 text-right">
          Al crear los componentes para tus recetas podrás crear las propiedades
          que lo definen y que permitirán un filtrado mucho más sencillo y
          rápido.
        </p>
      </div>
      <div class="relative my-10">
        <video
          width="80%"
          height="audio"
          loop
          #video3
          playsinline
          class="m-auto rounded-xl shadow-2xl border-2 border-basic-500 max-w-[800px]"
        >
          <source
            src="../../../../assets/videos/components_presentation.webm"
            type="video/webm"
          />
          <source
            src="../../../../assets/videos/components_presentation.mp4"
            type="video/mp4"
          />
        </video>
        <div
          class="w-full h-full rounded-xl bg-basic-500 absolute top-[-1.5rem] z-[-1] shadow-2xl"
        ></div>
      </div>
    </div>
    <div class="my-20">
      <div class="">
        <h3
          class="text-primary-500 font-black uppercase text-lg tracking-wider text-center"
        >
          <span class="text-2xl">C</span>rea distintos perfiles para gestionar
          distintos tipos de productos
        </h3>
        <p class="max-w-[600px] m-auto text-center">
          Crea distintos perfiles, a cada uno de ellos podrás asignarle
          distintas propiedades, composiciones y fases. Así como mantener
          almacenados los componentes y recetas de forma separada y ordenada.
        </p>
      </div>
      <div class="relative my-10">
        <video
          width="80%"
          height="audio"
          loop
          playsinline
          #video4
          class="m-auto rounded-xl shadow-2xl border-2 border-basic-500 max-w-[800px]"
        >
          <source
            src="../../../../assets/videos/profiles_presentation.webm"
            type="video/webm"
          />
          <source
            src="../../../../assets/videos/profiles_presentation.mp4"
            type="video/mp4"
          />
        </video>
        <div
          class="w-full h-full rounded-xl bg-basic-500 absolute top-6 z-[-1] shadow-2xl"
        ></div>
      </div>
    </div>
  </div>
  <div
    class="bg-secondary-500 dark:bg-primary-500 rounded-xl shadow-md p-6 mt-20"
  >
    <p class="text-2xl uppercase text-basic-500 text-center my-6 font-bold">
      ¿ <span class="text-4xl">Q</span>uieres empezar a utilizar
      <span class="text-primary-500 dark:text-secondary-500"
        ><span class="text-4xl">M</span>esta</span
      >?
    </p>
    <div class="w-full flex">
      <button class="btn btn-primary-dark m-auto self-center">
        Regístrate
      </button>
    </div>
  </div>
  <form
    [formGroup]="contactForm"
    (ngSubmit)="onSubmitContactForm()"
    class="grid grid-cols-1 sm:grid-cols-2 gap-4 my-20"
    id="contact"
  >
    <div class="row-start-1 sm:col-start-1 flex justify-end flex-col gap-4">
      <p class="text-xl uppercase font-black text-primary-500 max-w-[400px]">
        ¿ <span class="text-2xl"> A</span>ún tienes dudas?
        <span class="text-2xl">C</span>ontacta con nosotras para cualquier
        pregunta
      </p>
      <div class="flex gap-4 flex-col">
        <div class="custom-input-labeled">
          <input
            type="text"
            class="dark-input"
            placeholder="Nombre"
            [formControl]="name"
          />
        </div>
        <div
          *ngIf="name.errors && (name.touched || name.dirty)"
          class="form-errors"
        >
          <div *ngIf="name.errors.required">Campo obligatorio</div>
        </div>
        <div class="custom-input-labeled">
          <input
            type="email"
            class="dark-input"
            placeholder="Correo electrónico"
            [formControl]="email"
          />
        </div>
        <div
          *ngIf="email.errors && (email.touched || email.dirty)"
          class="form-errors"
        >
          <div *ngIf="email.errors.required">Campo obligatorio</div>
          <div *ngIf="email.errors.pattern">Formato de email no valido</div>
        </div>
      </div>
    </div>
    <div class="row-start-2 sm:row-start-1 sm:col-start-2 sm:col-end-3">
      <div class="custom-input-labeled">
        <textarea
          [formControl]="body"
          class="dark-input"
          rows="8"
          placeholder="Escribe aquí tus dudas"
        ></textarea>
      </div>
      <div
        *ngIf="body.errors && (body.touched || body.dirty)"
        class="form-errors"
      >
        <div *ngIf="body.errors.required">Campo obligatorio</div>
      </div>
    </div>
    <div class="row-start-3 w-full flex mt-4 col-start-1 col-end-3">
      <button
        class="btn btn-primary m-auto self-center"
        [disabled]="!contactForm.valid"
      >
        Contacta
      </button>
    </div>
  </form>
</div>
