<div class="my-2 relative">
  <input
    type="text"
    class="input-search"
    placeholder="Buscar propiedades"
    [(ngModel)]="searchTerm"
    (keyup)="search()"
  />
</div>

<div class="flex flex-row flex-wrap gap-2">
  <div *ngIf="allowEdition" class="flex align-center">
    <button
      type="button"
      class="transition ease-in-out delay-50 duration-200 rotate-0"
      (click)="newProperty = !newProperty"
      [ngClass]="{
        'rotate-45 text-primary-500 hover:text-primary-800': newProperty,
        'text-secondary-500 hover:text-primary-800 dark:text-basic-500':
          !newProperty
      }"
    >
      <span class="material-icons hover:text-primary-800 text-3xl sm:text-md"
        >add</span
      >
    </button>
    <div
      class="inline-block transition ease-in-out delay-250 duration-200 scale-0"
      [ngClass]="{ 'scale-100': newProperty }"
    >
      <app-property-form
        *ngIf="newProperty"
        (onFinishCreating)="onFinishCreating()"
      ></app-property-form>
    </div>
  </div>
  <button
    *ngIf="allowEdition && properties.length > 0"
    type="button"
    (click)="editingProperties = !editingProperties"
    [ngClass]="{
      'text-primary-500 hover:text-primary-800': editingProperties,
      'text-secondary-500 hover:text-primary-800 dark:text-basic-500':
        !editingProperties
    }"
  >
    <span
      *ngIf="allowEdition"
      class="material-icons hover:text-primary-800 text-3xl sm:text-md"
      >edit
    </span>
  </button>
  <app-property-item
    *ngFor="let property of properties"
    [property]="property"
    [selected]="isSelected(property?.id)"
    (onSelect)="onSelectProperty($event)"
    [editing]="editingProperties"
    (onRemoved)="onPropertyRemoved()"
  ></app-property-item>
</div>
