<div class="m-auto text-center maxw-500 pb-6">
  <div class="m-4 px-6 py-10 rounded-lg full-shadow bg-basic-600">
    <h2 class="text-2xl uppercase my-2 dark:text-secondary-500">
      Recuperar contraseña
    </h2>
    <form
      [formGroup]="forgotPasswordForm"
      (ngSubmit)="onSubmit()"
      class="mt-10"
    >
      <div class="custom-input-labeled-container">
        <div class="custom-input-labeled">
          <input type="email" [formControl]="email" aria-label="Email" />
          <label for="email">Correo electrónico</label>
        </div>
        <div
          *ngIf="email.errors && (email.touched || email.dirty)"
          class="form-errors"
        >
          <span *ngIf="email.errors.required">Campo obligatorio</span>
          <div *ngIf="email.errors.pattern">El correo electrónico no es válido</div>
        </div>
      </div>

      <button
        type="submit"
        [disabled]="!forgotPasswordForm.valid"
        class="btn btn-primary shadow-thick-secondary-dark mt-2"
      >
        Enviar email
      </button>
    </form>
  </div>
  <p class="text-wrap">
    ¿Te acordaste de tu contraseña?
    <a [routerLink]="['/login']" class="text-primary-500 hover:text-primary-700"
      >Inicia sesión</a
    >
  </p>
</div>
