<div class="fixed bg-secondary-500/20 w-full h-full z-50 flex flex-column">
  <svg
    width="50"
    height="50"
    viewBox="0 0 512 512"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    class="self-center m-auto animate-spin"
  >
    <!-- <rect width="512" height="512" fill="transparent" /> -->
    <rect x="348.25" y="10" width="153.75" height="153.75" fill="#EA526F" />
    <rect x="348.25" y="348.25" width="153.75" height="153.75" fill="#AE6DD5" />
    <rect
      x="348.25"
      y="348.25"
      width="153.75"
      height="153.75"
      fill="black"
      fill-opacity="0.2"
    />
    <rect x="10" y="348.25" width="153.75" height="153.75" fill="#FF8A5B" />
    <rect x="10" y="10" width="153.75" height="153.75" fill="#3BABE3" />
    <rect
      x="40.75"
      y="25.375"
      width="13.4531"
      height="461.25"
      class="fill-secondary-500 dark:fill-basic-500"
      fill-opacity="0.6"
    />
    <rect
      x="67.6562"
      y="25.375"
      width="13.4531"
      height="461.25"
      class="fill-secondary-500 dark:fill-basic-500"
      fill-opacity="0.6"
    />
    <rect
      x="94.5625"
      y="25.375"
      width="13.4531"
      height="461.25"
      class="fill-secondary-500 dark:fill-basic-500"
      fill-opacity="0.6"
    />
    <rect
      x="121.469"
      y="25.375"
      width="13.4531"
      height="461.25"
      class="fill-secondary-500 dark:fill-basic-500"
      fill-opacity="0.6"
    />
    <rect
      x="25.375"
      y="54.2031"
      width="13.4531"
      height="461.25"
      transform="rotate(-90 25.375 54.2031)"
      class="fill-secondary-500 dark:fill-basic-500"
      fill-opacity="0.6"
    />
    <rect
      x="25.375"
      y="81.1094"
      width="13.4531"
      height="461.25"
      transform="rotate(-90 25.375 81.1094)"
      class="fill-secondary-500 dark:fill-basic-500"
      fill-opacity="0.6"
    />
    <rect
      x="25.375"
      y="108.016"
      width="13.4531"
      height="461.25"
      transform="rotate(-90 25.375 108.016)"
      class="fill-secondary-500 dark:fill-basic-500"
      fill-opacity="0.6"
    />
    <rect
      x="25.375"
      y="134.922"
      width="13.4531"
      height="461.25"
      transform="rotate(-90 25.375 134.922)"
      class="fill-secondary-500 dark:fill-basic-500"
      fill-opacity="0.6"
    />
    <rect
      x="377.078"
      y="25.375"
      width="13.4531"
      height="461.25"
      class="fill-secondary-500 dark:fill-basic-500"
      fill-opacity="0.6"
    />
    <rect
      x="403.984"
      y="25.375"
      width="13.4531"
      height="461.25"
      class="fill-secondary-500 dark:fill-basic-500"
      fill-opacity="0.6"
    />
    <rect
      x="430.891"
      y="25.375"
      width="13.4531"
      height="461.25"
      class="fill-secondary-500 dark:fill-basic-500"
      fill-opacity="0.6"
    />
    <rect
      x="457.797"
      y="25.375"
      width="13.4531"
      height="461.25"
      class="fill-secondary-500 dark:fill-basic-500"
      fill-opacity="0.6"
    />
    <rect
      x="25.375"
      y="390.531"
      width="13.4531"
      height="461.25"
      transform="rotate(-90 25.375 390.531)"
      class="fill-secondary-500 dark:fill-basic-500"
      fill-opacity="0.6"
    />
    <rect
      x="25.375"
      y="417.438"
      width="13.4531"
      height="461.25"
      transform="rotate(-90 25.375 417.438)"
      class="fill-secondary-500 dark:fill-basic-500"
      fill-opacity="0.6"
    />
    <rect
      x="25.375"
      y="444.344"
      width="13.4531"
      height="461.25"
      transform="rotate(-90 25.375 444.344)"
      class="fill-secondary-500 dark:fill-basic-500"
      fill-opacity="0.6"
    />
    <rect
      x="25.375"
      y="471.25"
      width="13.4531"
      height="461.25"
      transform="rotate(-90 25.375 471.25)"
      class="fill-secondary-500 dark:fill-basic-500"
      fill-opacity="0.6"
    />
  </svg>

  <!-- <img class="self-center m-auto animate-spin" src="../../../../assets/images/logo.png" width="50" alt="Logo" /> -->
</div>
