/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind screen;
@import "../node_modules/@fortawesome/fontawesome-free/css/all.css";

@font-face {
  font-family: "Open sans";
  src: local("Open sans"),
    url(assets/fonts/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf)
      format("truetype");
}

@font-face {
  font-family: "Monoton";
  src: local("Monoton"),
    url(assets/fonts/Monoton/Monoton-Regular.ttf) format("truetype");
}

@tailwind utilities;

// @each $color, $value in $theme-colors {
//   .color-#{$color} {
//     color: $value !important;
//   }
//   .bg-#{$color} {
//     background-color: $value !important;
//   }
// }

.backgroung-image {
  background: url("./assets/images/bg-image.png"), #fbfbfb;
  background-size: 200%;
}
h1 {
  @apply font-serif;
}

a {
  text-decoration: none;
}
a.router-link-active {
  @apply text-primary-500;
}

.btn {
  @apply rounded-md px-2 py-1 hover:cursor-pointer;
}

.btn-primary {
  @apply bg-primary-500 text-white-500 border-primary-600 hover:bg-primary-600;
}

h2 {
  letter-spacing: 0.1em;
}

.fs-xs {
  font-size: 0.8rem;
}

.full-shadow {
  box-shadow: -2px -2px 8px rgba(15, 23, 42, 0.25),
    2px 2px 10px rgba(15, 23, 42, 0.25);
}

.maxw-500 {
  max-width: 500px;
}
.cursor-pointer {
  cursor: pointer;
}

.w-full {
  width: 100%;
}

input {
  border: none !important;
}

.limit-container {
  max-width: 1100px;
  margin: auto;
}

.custom-input-labeled {
  position: relative;
}
.custom-input-labeled label {
  display: none;
  position: absolute;
  top: 0;
  left: 10px;
  font-size: 0.75rem;
  font-weight: bold;
  // background: linear-gradient(180deg, #fff 70%, $dark-50 0);
  font-size: 0.75rem;
  font-weight: bold;
  padding-left: 2px;
  padding-right: 2px;
  transform: translateY(-70%);
  text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff,
    1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

.custom-input-labeled input:active + label,
.custom-input-labeled input:focus + label {
  display: block;
  transition: all 2s linear;
}
