/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind screen;

@font-face {
  font-family: "Open sans";
  src: local("Open sans"),
    url(assets/fonts/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf)
      format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Monoton";
  src: local("Monoton"),
    url(assets/fonts/Monoton/Monoton-Regular.ttf) format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(assets/fonts/MaterialIcons-Regular.ttf) format("truetype");
  src: local("Material Icons"), local("MaterialIcons-Regular"),
    url(assets/fonts/MaterialIcons-Regular.ttf) format("truetype");
  font-display: swap;
}
// @font-face {
//   font-family: "Material Icons Outlined";
//   font-style: normal;
//   font-weight: 400;
//   src: url(assets/fonts/MaterialIconsOutlined-Regular.otf) format("truetype");
//   src: local("Material Icons Outlined"), local("MaterialIconsOutlined-Regular"),
//     url(assets/fonts/MaterialIconsOutlined-Regular.otf) format("truetype");
//   font-display: swap;
// }

@tailwind utilities;

html {
  scroll-behavior: smooth;
}
:not(.dark) .background-image {
  background: url("./assets/images/bg-image.svg") #f4f4f4;
  background-size: 200%;
}
.dark .background-image {
  background: url("./assets/images/bg-image-dark.svg") #0f172a;
  background-size: 200%;
}
body {
  @apply dark:text-basic-500;
}
h1 {
  @apply font-serif dark:text-basic-500;
}

a {
  text-decoration: none;
}
a.router-link-active {
  @apply text-primary-500;
}

a:hover {
  @apply cursor-pointer;
}

.btn {
  @apply rounded-md px-4 py-1 hover:cursor-pointer;
}

.btn-primary {
  @apply bg-primary-400 text-basic-500 border-primary-500 hover:bg-primary-500  disabled:cursor-default disabled:bg-primary-300 shadow-lg;
}

.btn-primary-dark {
  @apply bg-primary-400 text-basic-500 border-primary-500 hover:bg-primary-500  disabled:cursor-default disabled:bg-primary-300 dark:bg-basic-400 dark:hover:bg-basic-500 dark:disabled:bg-basic-300 dark:text-secondary-500 shadow-lg;
}
.btn-secondary {
  @apply bg-secondary-400 text-basic-500 border-secondary-500 hover:bg-secondary-500 disabled:cursor-default disabled:bg-secondary-300 dark:bg-primary-400 dark:border-primary-500 dark:hover:bg-primary-500 dark:disabled:bg-primary-300 shadow-lg;
}

.btn-secondary-dark {
  @apply bg-secondary-400 text-basic-500 border-secondary-500 hover:bg-secondary-500 disabled:cursor-default disabled:bg-secondary-300;
}

.dark .btn-danger {
  @apply bg-danger text-basic-500 border-danger hover:bg-danger;
}
.btn-danger {
  @apply bg-danger text-basic-500 border-danger hover:bg-danger;
}
.btn-basic {
  @apply bg-basic-400 text-secondary-500 border-basic-500 hover:bg-basic-500;
}

.btn-outline-secondary {
  @apply text-secondary-500 border-2 border-secondary-500 dark:bg-primary-500 dark:text-basic-500 dark:border-primary-500 hover:bg-secondary-500 hover:text-basic-500 disabled:cursor-default disabled:bg-secondary-300;
}

.btn-outline-danger {
  @apply text-danger border-2 border-danger hover:bg-danger hover:text-basic-500 disabled:cursor-default disabled:bg-danger dark:bg-basic-500 dark:text-secondary-500 dark:border-secondary-500 dark:hover:text-danger;
}

h2 {
  @apply tracking-widest text-xl;
}

h3 {
  @apply text-lg;
}
p {
  @apply text-sm;
}

.fs-xs {
  font-size: 0.8rem;
}

.full-shadow {
  box-shadow: -2px -2px 8px rgba(15, 23, 42, 0.25),
    2px 2px 10px rgba(15, 23, 42, 0.25);
}

.maxw-500 {
  max-width: 500px;
}
.cursor-pointer {
  cursor: pointer;
}

.w-full {
  width: 100%;
}
.limit-container {
  @apply max-w-[1100px] m-auto;
}
.custom-input-labeled-container {
  @apply mt-3 mb-2;
}
.custom-input-labeled {
  @apply relative;
}

input,
textarea {
  @apply outline-primary-400 text-secondary-500;
}
.custom-input-labeled input,
.custom-input-labeled textarea {
  @apply rounded-md py-3 px-4 text-sm w-full leading-tight;
}
.custom-input-labeled input + label,
.custom-input-labeled textarea + label {
  @apply absolute top-2/4 left-3 -translate-y-1/2 transition-all transform duration-300 delay-75 ease-in-out text-secondary-200;
}
.custom-input-labeled input:focus + label,
.custom-input-labeled input.ng-dirty + label,
.custom-input-labeled input.ng-invalid.ng-touched + label,
.custom-input-labeled textarea:focus + label,
.custom-input-labeled textarea.ng-dirty + label,
.custom-input-labeled textarea.ng-invalid.ng-touched + label {
  @apply transition-all transform duration-300 delay-75 absolute top-[-2px] left-3 text-xs font-bold py-1 -translate-y-1/2 text-primary-500 z-10;
}
.custom-input-labeled input.ng-invalid.ng-touched,
.custom-input-labeled textarea.ng-invalid.ng-touched {
  @apply ring-danger outline-danger;
}
.custom-input-labeled input.ng-invalid.ng-touched + label,
.custom-input-labeled textarea.ng-invalid.ng-touched + label {
  @apply text-danger;
}
.custom-input-labeled label {
  background: linear-gradient(to top, #fff 54%, transparent 0%);
}
input:not(.dark-input):-webkit-autofill,
input:not(.dark-input):-webkit-autofill:hover,
input:not(.dark-input):-webkit-autofill:focus,
input:not(.dark-input):-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.dark-input {
  @apply bg-basic-900 rounded-lg py-2 px-4 w-full dark:text-secondary-500;
}

.light-input {
  @apply bg-basic-100 rounded-lg py-2 px-4 w-full focus:outline-none;
}

.form-errors {
  @apply mt-0 mb-2 text-danger text-left fs-xs flex flex-col;
}
.input-search {
  @apply border-2 border-secondary-500 dark:border-none rounded-xl py-2 px-4 w-full my-2 shadow-thick shadow-secondary-500 dark:shadow-primary-500 outline-none transform transition-all duration-100 active:shadow-none active:translate-y-[3px] active:translate-x-[3px] dark:text-secondary-500;
}

.shadow-thick-secondary {
  @apply shadow-thick shadow-secondary-500 dark:shadow-basic-500 transform transition-all duration-100 active:shadow-none active:translate-y-[3px] active:translate-x-[3px] disabled:shadow-none;
}
.shadow-thick-secondary-dark {
  @apply shadow-thick shadow-secondary-500 transform transition-all duration-100 active:shadow-none active:translate-y-[3px] active:translate-x-[3px] disabled:shadow-none;
}
.shadow-thick-danger {
  @apply shadow-thick shadow-danger transform transition-all duration-100 active:shadow-none active:translate-y-[3px] active:translate-x-[3px] disabled:shadow-none;
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}
.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}
