<div class="m-auto text-center maxw-500">
  <div class="m-4 px-6 py-10 rounded-lg full-shadow bg-white-600">
    <h2 class="text-2xl uppercase my-">Registrarse</h2>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="mt-10">
      <div class="my-5 custom-input-labeled">
        <input
          type="text"
          [formControl]="name"
          aria-label="Name"
          placeholder="Nombre"
        />
        <label for="name">Nombre</label>
        <div
          *ngIf="name.errors && isValidForm != null && !isValidForm"
          class="mt-2 mb-2 form-errors"
        >
          <div *ngIf="name.errors.required">Name is required</div>
          <div *ngIf="name.errors.minlength">
            Name must be at least 5 characters long.
          </div>
          <div *ngIf="name.errors.maxlength">
            Name can be max 25 characters long.
          </div>
        </div>
      </div>

      <div class="my-5 custom-input-labeled">
        <input
          type="email"
          [formControl]="email"
          aria-label="Email"
          placeholder="Email"
        />
        <label for="email">Email</label>
        <div *ngIf="email.errors" class="mt-2 mb-2 form-errors">
          <span *ngIf="email.errors && (email.touched || email.dirty)">
            <span *ngIf="email.errors.required">Email is required</span>
            <div *ngIf="email.errors.pattern">Email not a valid format.</div>
          </span>
        </div>
      </div>

      <div class="my-5 custom-input-labeled">
        <input
          type="password"
          [formControl]="password"
          aria-label="Password"
          placeholder="Contraseña"
        />
        <label for="password">Contraseña</label>
        <div *ngIf="password.errors" class="mt-2 mb-2 form-errors">
          <span *ngIf="password.errors && (password.touched || password.dirty)">
            <span *ngIf="password.errors.required">Password is required</span>
            <span *ngIf="password.errors.minlength"
              >Password must be greater tha 8 characters</span
            >
            <span *ngIf="password.errors.maxlength"
              >Password can be max 16 characters long</span
            >
          </span>
        </div>
      </div>

      <div class="my-5 custom-input-labeled">
        <input
          type="password"
          [formControl]="password_confirmation"
          aria-label="Password"
          placeholder="Repita contraseña"
        />
        <label for="password_confirmation"
          >Repita contraseña</label
        >

        <div *ngIf="password_confirmation.errors" class="mt-2 mb-2 form-errors">
          <span
            *ngIf="
              password_confirmation.errors &&
              (password_confirmation.touched || password_confirmation.dirty)
            "
          >
            <span *ngIf="password_confirmation.errors.required"
              >Password is required</span
            >
            <span *ngIf="password_confirmation.errors.minlength"
              >Password must be greater tha 8 characters</span
            >
            <span *ngIf="password_confirmation.errors.maxlength"
              >Password can be max 16 characters long</span
            >
          </span>
        </div>
      </div>

      <button
        type="submit"
        [disabled]="!registerForm.valid"
        class="btn btn-primary  shadow-thick-secondary"
      >
        Registrarse
      </button>
    </form>
  </div>
</div>

<div class="text-center">
  <p>
    ¿Ya tienes cuenta en Mesta? <a [routerLink]="['/login']" class="text-primary-500 hover:text-primary-700">Inicia sesión</a>
  </p>
</div>
