<div #container class="w-full p-4 relative group cursor-pointer">
  <div
    #borderTop
    class="absolute top-0 right-0 w-full h-[10px] bg-[length:4px_10px] bg-repeat-x"
  ></div>
  <div
    #borderLeft
    class="absolute top-0 left-0 w-[10px] h-full bg-top-left bg-[length:10px_4px] bg-repeat-y"
  ></div>
  <div
    #borderRight
    class="absolute top-0 right-0 w-[10px] h-full bg-top-left bg-[length:10px_4px] bg-repeat-y"
  ></div>
  <div
    #borderBottom
    class="absolute bottom-0 right-0 w-full h-[10px] bg-[length:4px_10px] bg-repeat-x"
  ></div>
  <ng-content></ng-content>
</div>
