<div class="p-2">
  <div
    class="flex flex-row align-items-center w-full flex-wrap md:flex-nowrap p-3"
  >
    <h2>Recetas</h2>
    <div class="flex flex-row justify-between w-full">
      <span class="md:before:content-['|'] md:before:mx-4"
        >{{ recipes?.length || 0 }} recetas</span
      >
    </div>
  </div>
  <div
    class="flex justify-between mx-auto my-0 relative grow shrink-0 basis-auto text-left flex-col md:flex-row"
  >
    <div class="flex flex-col w-full md:w-[30%] lg:w-[20%] shrink-0">
      <div class="md:sticky w-auto p-2 md:overflow-y-auto md:top-[10px]">
        <div class="relative w-full md:w-[90%]">
          <input
            type="text"
            class="input-search"
            placeholder="Buscar receta"
            [(ngModel)]="searchTerm"
            (keyup)="search()"
          />
        </div>
        <div class="w-full md:w-[90%]">
          <app-properties-list [filtering]="true"></app-properties-list>
        </div>
      </div>
    </div>
    <div
      [ngClass]="{ 'animate-pulse': loading }"
      class="w-full md:w-[70%] lg:w-[80%] mx-auto my-0 h-fit grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5"
    >
      <div
        class="group flex flex-col justify-center border-2 border-dashed rounded-lg p-4 m-2 relative cursor-pointer text-center hover:opacity-50 border-secondary-300 bg-basic-900 dark:bg-secondary-400"
        (click)="onCreate()"
      >
        <span
          class="material-icons md-36 text-secondary-300 dark:text-basic-700"
          >add</span
        >
        <h4 class="text-secondary-300 dark:text-basic-700">Formular</h4>
      </div>
      <div class="p-2" *ngFor="let recipe of recipes">
        <app-recipe-item
          [recipe]="recipe"
          [properties]="getPropertiesByRecipe(recipe.properties)"
        ></app-recipe-item>
      </div>
    </div>
  </div>
</div>
