<div class="py-2 px-4 m-auto max-w-[900px]">
  <app-breadcrumb [breadcrumbHistory]="breadcrumbHistory"></app-breadcrumb>
  <h2>{{ componentId ? component?.name : "Nuevo componente" }}</h2>
  <form
    *ngIf="componentForm"
    [formGroup]="componentForm"
    (ngSubmit)="onSubmit()"
    class="my-4"
  >
    <label for="name" class="fs-xs mb-0">Nombre</label>
    <div class="mb-2 custom-input-labeled">
      <input
        type="text"
        [formControl]="name"
        class="dark-input"
        placeholder="Nombre"
      />
      <div
        *ngIf="name?.errors && (name?.touched || name?.dirty)"
        class="form-errors"
      >
        <div *ngIf="name?.errors?.required">Obligatorio</div>
        <div *ngIf="name?.errors?.maxlength">
          Name can be max 64 characters long.
        </div>
      </div>
    </div>
    <label for="scientific_name" class="fs-xs mb-0">Nombre científico (INCI)</label>
    <div class="mb-2 custom-input-labeled">
      <input
        type="text"
        [formControl]="scientific_name"
        class="dark-input"
        placeholder="Nombre científico (INCI)"
      />
    </div>
    <label for="expiration_date" class="fs-xs mb-0">Fecha de caducidad</label>
    <div class="mb-2 custom-input-labeled">
      <input
        type="date"
        min="new Date()"
        [formControl]="expiration_date"
        class="dark-input"
      />
    </div>
    <label for="description" class="fs-xs mb-0">Descripción</label>
    <div class="mb-2 custom-input-labeled">
      <textarea
        name="description"
        class="dark-input"
        rows="8"
        [formControl]="description"
      ></textarea>
      <div
        *ngIf="
          description?.errors && (description?.touched || description?.dirty)
        "
        class="form-errors"
      >
        <div *ngIf="description?.errors?.required">Obligatorio</div>
      </div>
    </div>
    <div class="my-2">
      <h3 class="my-1">Fase del proceso al que pertenecen</h3>
      <div class="flex flex-row flex-wrap gap-1">
        <div
          class="rounded-full border-2 px-4 cursor-pointer text-nowrap self-center"
          [ngStyle]="{
            'border-color': phase.color,
            color: phase_id.value === phase.id ? '#fff' : phase.color,
            'background-color':
              phase_id.value === phase.id ? phase.color : 'inherit'
          }"
          *ngFor="let phase of phases"
          (click)="selectPhase(phase)"
        >
          {{ phase.name }}
        </div>
      </div>
    </div>
    <div class="my-2">
      <h3 class="my-1">Propiedades</h3>
      <app-properties-list
        [allowEdition]="true"
        [allowSearch]="true"
        (updateProperties)="updateProperties($event)"
        [propertiesSelected]="propertiesSelected"
      ></app-properties-list>
    </div>
    <div class="text-center mt-4">
      <button
        type="submit"
        class="btn btn-primary shadow-thick-secondary"
        [disabled]="!componentForm?.valid"
      >
        Guardar
      </button>
    </div>
  </form>
</div>
