<div class="p-2 m-auto max-w-[900px]">
  <app-breadcrumb [breacrumbHistory]="breacrumbHistory"></app-breadcrumb>
  <h2>{{ componentId ? component?.name : "Nuevo componente" }}</h2>
  <form [formGroup]="componentForm" (ngSubmit)="onSubmit()" class="my-4">
    <div class="my-2">
      <input
        type="text"
        [formControl]="name"
        class="dark-input"
        placeholder="Nombre"
      />
      <div
        *ngIf="name.errors && (name.touched || name.dirty)"
        class="form-errors"
      >
        <div *ngIf="name.errors.required">Obligatorio</div>
        <div *ngIf="name.errors.maxlength">
          Name can be max 64 characters long.
        </div>
      </div>
    </div>
    <div class="my-2">
      <textarea
        name="description"
        class="dark-input"
        placeholder="Descripción"
        rows="8"
        [formControl]="description"
      ></textarea>
      <div
        *ngIf="description.errors && (description.touched || description.dirty)"
        class="form-errors"
      >
        <div *ngIf="description.errors.required">Obligatorio</div>
      </div>
    </div>
    <div class="my-2">
      <h3 class="my-1">Fase del proceso al que pertenecen</h3>
      <div class="flex flex-row flex-wrap gap-1">
        <div
          class="rounded-full border-2 px-4 cursor-pointer"
          [ngStyle]="{
            'border-color': phase.color,
            color: phase_id.value === phase.id ? '#fff' : phase.color,
            'background-color':
              phase_id.value === phase.id ? phase.color : 'inherit'
          }"
          *ngFor="let phase of phases"
          (click)="selectPhase(phase)"
        >
          {{ phase.name }}
        </div>
      </div>
    </div>
    <div class="my-2">
      <h3 class="my-1">Propiedades</h3>
      <app-properties-list [allowEdition]="true" [allowSearch]="true"></app-properties-list>
    </div>
    <div class="text-center">
      <button
        type="submit"
        class="btn btn-secondary disabled:cursor-default disabled:bg-secondary-300"
        [disabled]="!componentForm?.valid"
      >
        Guardar
      </button>
    </div>
  </form>
</div>
